.upperNavSearch {
  display: flex;
}

.upperNavSearch input {
  border: none;
  border-radius: 20px;
}
.upperNavSearch svg {
  cursor: pointer;
}

@media only screen and (max-width: 720px) {
  .upperNavSearch {
    display: none;
  }
}
