.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: white;
}
.container h2 {
  margin-bottom: -2px;
}
.container h3 {
  margin-bottom: -20px;
}
.container p {
  margin-bottom: 0px;
}
.container-title {
  margin-top: 40px;
}
.container-top img {
  width: 626px;
  height: 450px;
}
.container-top {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.container-top a {
  text-decoration: none;
  color: white;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 400ms;
}
.container-top a:hover {
  text-decoration-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
.container-top-contact p {
  text-decoration: underline;
}
.container-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-bottom: 1px solid white;
}
.container-bottom-text {
  font-size: 18px;
}

.container-bottom-text-details {
  margin-top: 5px;
}
.container-bottom a {
  text-decoration: none;
  color: white;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 400ms;
}
.container-bottom a:hover {
  text-decoration-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.container-bottom h2 {
  margin-bottom: -20px;
}
.container-bottom-text-details {
  text-decoration: underline;
}

@media only screen and (max-width: 1250px) {
  .container-top {
    flex-direction: column;
    text-align: center;
  }
  .container-top img {
    width: 40rem;
    height: 100%;
  }
  .container-bottom {
    text-align: center;
  }
}

@media only screen and (max-width: 650px) {
  .container-top img {
    width: 20rem;
  }
}
