.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: white;
}
.container p {
  cursor: default;
}
.container h2 {
  cursor: default;
}
.container-top {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.text-rnbw {
  background: linear-gradient(90deg, red, orange, yellow);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.imageConteiner img {
  width: 50%;
  margin-bottom: 30px;
}
.container-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid white;
}
.main h2 {
  text-shadow: rgb(255, 90, 0) 1px 0 10px;
  color: rgb(255, 90, 0);
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 12rem;
}
.cards p {
  color: white;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  background-clip: text;
  cursor: default;
  -webkit-background-clip: text;
  font-size: 17px;
}

.container-bottom {
  width: 100%;
}

.container-buy {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
  width: 100%;
}

.container-buy-images {
  display: flex;
  text-align: center;
}

.container-buy-images img {
  height: 250px;
  margin: 30px;
  transition: margin 200ms ease-in-out;
}

.container-buy-images img:hover {
  margin: 35px;
}

.container-buy p {
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 400ms;
}

.container-bottom-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid white;
}
.container-bottom-box-text {
  display: flex;
  justify-content: space-around;
}

.cards-mobile {
  display: none;
}

@media only screen and (max-width: 720px) {
  .imageConteiner img {
    width: 70%;
  }
  .container-buy {
    height: 100%;
  }
  .container-buy-images {
    display: flex;
    flex-direction: column;
  }
  .cards-pc {
    display: none;
  }
  .cards-mobile {
    display: block;
  }
  .container-top {
    margin: 0;
  }
}
