.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: white;
}
.main p {
  cursor: default;
}
.main h2 {
  cursor: default;
}
.topContent {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.rainbowTextSpecs {
  background: linear-gradient(90deg, red, orange, yellow);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.imageConteiner img {
  width: 70%;
  margin-bottom: 30px;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid white;
}
.main h2 {
  text-shadow: rgb(255, 90, 0) 1px 0 10px;
  color: rgb(255, 90, 0);
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 12rem;
}
.cards p {
  color: white;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  background-clip: text;
  cursor: default;
  -webkit-background-clip: text;
  font-size: 17px;
}

.bottomContent {
  width: 100%;
}
.bottomContentSpecs {
  border-bottom: 2px solid white;
}
.bottomContentSpecsText {
  text-align: center;
  font-size: 17px;
}

.tobuy {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
  width: 100%;
}

.tobuyImages {
  display: flex;
  text-align: center;
}

.tobuyImages img {
  height: 250px;
  margin: 30px;
  transition: margin 200ms ease-in-out;
}

.tobuyImages img:hover {
  margin: 35px;
}

.tobuy p {
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 400ms;
}

.bottomContentBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid white;
}
.bottomContentBoxText {
  display: flex;
  justify-content: space-around;
}
