.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.title {
  color: rgb(255, 255, 255);
  text-align: center;
}
.content {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.imageConteiner {
  position: relative;
  display: inline-block;
}

.imageConteiner .image {
  display: block;
  width: 100%;
  height: auto;
}

.imageConteiner .text {
  position: absolute;
  cursor: default;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: rgb(255, 90, 0);
  text-shadow: rgb(255, 90, 0) 1px 0 10px;
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
}
.videoFrame {
  margin-bottom: 10px;
}
.mainContent {
  color: white;
  text-align: center;
  font-style: normal;
}

.headerText {
  color: rgb(255, 255, 255);
}
.mainContent p {
  font-size: 20px;
}
.bottomContent {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}
.bottomContentText {
  height: 15%;
  margin-bottom: 20px;
}

.text {
  color: rgb(255, 90, 0);
  text-shadow: rgb(255, 90, 0) 1px 0 10px;
  transition: all 300ms;
}
.text:hover {
  color: rgb(255, 255, 255);
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.bottomContentImg {
  padding-left: 8rem;
  padding-right: 8rem;
  height: 80%;
  display: flex;
  justify-content: space-between;
  color: white;
}
.bottomContent .headerTextRainbow {
  background: linear-gradient(90deg, red, orange, yellow);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.bottomContentImg img {
  height: 450px;
  width: 370px;
  padding: 10px;
  border-radius: 10%;
}

.bottomGirlImage {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.bottomGirlImage img {
  height: 600px;
  width: 552px;
}
